/*@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");*/
/*@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p");*/
@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");
body {
  margin: 0;
  /*font-family: "Nico Moji";*/
  /*font-family: "M PLUS 1p";*/
  font-family: "Hannari";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
